designs/pages/home.json
[
    {
        "id": "sd_PXY1v88IWZS8BoNO",
        "type": "tab",
        "createdDate": "2024-10-29T13:54:53.442Z",
        "label": "home",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "homeComponent"
    },
    {
        "id": "sd_XN8AU08cYPkAHCIb",
        "type": "OnInit",
        "z": "sd_PXY1v88IWZS8BoNO",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_XN8AU08cYPkAHCIb",
        "category": "Lifecycle Events",
        "x": 105,
        "y": 100,
        "wires": [
            [
                "sd_EGYfw7zie2pBZ6nA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "homeComponent"
    },
    {
        "id": "sd_dI9q9C9KOcRZkaIV",
        "type": "Script",
        "z": "sd_PXY1v88IWZS8BoNO",
        "viewType": "common",
        "nodeType": "flow",
        "name": "prepare role req obj",
        "script": "bh.url = page.ssdUrl + 'users';",
        "functionName": "prepareRoleReqObj",
        "category": "Function",
        "x": 605,
        "y": 100,
        "wires": [
            [
                "sd_6HU8hlAlYczxcqXq"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_sGrHPbixs7FpiDhj",
        "type": "Environment",
        "z": "sd_PXY1v88IWZS8BoNO",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_sGrHPbixs7FpiDhj",
        "category": "General",
        "x": 465,
        "y": 100,
        "wires": [
            [
                "sd_dI9q9C9KOcRZkaIV"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_6HU8hlAlYczxcqXq",
        "type": "HttpRequest",
        "z": "sd_PXY1v88IWZS8BoNO",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": ""
        },
        "resultMapping": "this.page.users",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "users"
        },
        "headers": [],
        "headersObj": {},
        "headerMapping": "",
        "headerMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": ""
        },
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_6HU8hlAlYczxcqXq",
        "category": "HTTP",
        "x": 720,
        "y": 100,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_EGYfw7zie2pBZ6nA",
        "type": "UseDependency",
        "z": "sd_PXY1v88IWZS8BoNO",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "Idle",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "UserIdleService",
                "typedIpValue": {
                    "type": "this.page",
                    "value": "userIdle"
                },
                "injectable": true
            }
        ],
        "import_all": false,
        "library": "angular-user-idle",
        "serviceDesignerType": "pages",
        "functionName": "idle",
        "category": "Function",
        "x": 220,
        "y": 100,
        "wires": [
            [
                "sd_mtEOUghESKVcVNa8"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_mtEOUghESKVcVNa8",
        "type": "Script",
        "z": "sd_PXY1v88IWZS8BoNO",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Idle service",
        "script": "//Start watching for user inactivity.\npage.userIdle.startWatching();\n\n// Start watching when user idle is starting.\npage.userIdle.onTimerStart().subscribe(count => {\n    page.showStopTimer = true;\n    console.log(count);\n});\n\n// Start watch when time is up.\npage.userIdle.onTimeout().subscribe(() => {\n    this.stopTimer();\n    this.stopWatching();\n    this.logout();\n});",
        "functionName": "idleService",
        "category": "Function",
        "x": 345,
        "y": 100,
        "wires": [
            [
                "sd_sGrHPbixs7FpiDhj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_gTWq0Mi3z7CxcjQo",
        "type": "PageStart",
        "z": "sd_PXY1v88IWZS8BoNO",
        "viewType": "pages",
        "nodeType": "start",
        "name": "stopTimer",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "stopTimer",
        "category": "General",
        "x": 105,
        "y": 200,
        "wires": [
            [
                "sd_MZU5VBvoSLD35LZ0"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "homeComponent"
    },
    {
        "id": "sd_MZU5VBvoSLD35LZ0",
        "type": "Script",
        "z": "sd_PXY1v88IWZS8BoNO",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "console.log('Time is up!')\npage.userIdle.stopTimer();",
        "functionName": "sd_MZU5VBvoSLD35LZ0",
        "category": "Function",
        "x": 225,
        "y": 200,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_dw9eELb5Xr6p2D0u",
        "type": "PageStart",
        "z": "sd_PXY1v88IWZS8BoNO",
        "viewType": "pages",
        "nodeType": "start",
        "name": "stopWatching",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "stopWatching",
        "category": "General",
        "x": 345,
        "y": 200,
        "wires": [
            [
                "sd_rDnxXezty1vFhUmX"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "homeComponent"
    },
    {
        "id": "sd_rDnxXezty1vFhUmX",
        "type": "Script",
        "z": "sd_PXY1v88IWZS8BoNO",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.userIdle.stopWatching();",
        "functionName": "sd_rDnxXezty1vFhUmX",
        "category": "Function",
        "x": 465,
        "y": 200,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_62UxD7tmTW3267ed",
        "type": "PageStart",
        "z": "sd_PXY1v88IWZS8BoNO",
        "viewType": "pages",
        "nodeType": "start",
        "name": "startWatching",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "startWatching",
        "category": "General",
        "x": 585,
        "y": 200,
        "wires": [
            [
                "sd_sgTFQUkl41IsS5sk"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "homeComponent"
    },
    {
        "id": "sd_sgTFQUkl41IsS5sk",
        "type": "Script",
        "z": "sd_PXY1v88IWZS8BoNO",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.userIdle.startWatching();",
        "functionName": "sd_sgTFQUkl41IsS5sk",
        "category": "Function",
        "x": 705,
        "y": 200,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_73h0bJSipfWOLp0f",
        "type": "PageStart",
        "z": "sd_PXY1v88IWZS8BoNO",
        "viewType": "pages",
        "nodeType": "start",
        "name": "restart",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "restart",
        "category": "General",
        "x": 805,
        "y": 200,
        "wires": [
            [
                "sd_qLAS9bQCmJ7ZmQ5G"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "homeComponent"
    },
    {
        "id": "sd_qLAS9bQCmJ7ZmQ5G",
        "type": "Script",
        "z": "sd_PXY1v88IWZS8BoNO",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.userIdle.resetTimer();",
        "functionName": "sd_qLAS9bQCmJ7ZmQ5G",
        "category": "Function",
        "x": 925,
        "y": 200,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_TiS6LnEellcSIEDr",
        "type": "PageStart",
        "z": "sd_PXY1v88IWZS8BoNO",
        "viewType": "pages",
        "nodeType": "start",
        "name": "logout",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "logout",
        "category": "General",
        "x": 105,
        "y": 300,
        "wires": [
            [
                "sd_H8kE6bpr0VDeT7WI"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "homeComponent"
    },
    {
        "id": "sd_H8kE6bpr0VDeT7WI",
        "type": "PageCallService",
        "z": "sd_PXY1v88IWZS8BoNO",
        "viewType": "pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "sd_Esk73iWZlTC4jXzt",
            "type": "tab",
            "createdDate": "2024-10-29T19:23:14.051Z",
            "label": "common",
            "disabled": false,
            "info": "",
            "functionSeq": 0,
            "tabType": "client"
        },
        "flow": {
            "flowId": "sd_YYqz9WroRFo4SgGa",
            "flowName": "logout"
        },
        "inputVariables": [],
        "outputMapping": [],
        "serviceImportPath": "app/sd-services/common",
        "startName": "logout",
        "inputParams": [],
        "accept_bh": false,
        "accept_csd": true,
        "functionName": "sd_H8kE6bpr0VDeT7WI",
        "category": "General",
        "x": 220,
        "y": 300,
        "wires": [
            [
                "sd_SzGKqCSukpvwtYUN"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    },
    {
        "id": "sd_SzGKqCSukpvwtYUN",
        "type": "SnackBar",
        "z": "sd_PXY1v88IWZS8BoNO",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "message": {
            "type": "str",
            "value": "Session Timeout"
        },
        "action": {
            "type": "str",
            "value": "Ok"
        },
        "duration": {
            "type": "num",
            "value": "5000"
        },
        "horizontalPosition": "center",
        "verticalPosition": "top",
        "panelClass": {
            "type": "str",
            "value": ""
        },
        "direction": "ltr",
        "functionName": "sd_SzGKqCSukpvwtYUN",
        "category": "General",
        "x": 345,
        "y": 300,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "homeComponent",
        "generated": true
    }
]
