designs/pages/register.json
[
    {
        "id": "sd_byUrK9ZttiWh0fRz",
        "type": "tab",
        "createdDate": "2024-10-29T13:25:35.471Z",
        "label": "register",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_Y9D62LOSpOTBZekA",
        "type": "OnInit",
        "z": "sd_byUrK9ZttiWh0fRz",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "functionName": "sd_Y9D62LOSpOTBZekA",
        "category": "Lifecycle Events",
        "x": 105,
        "y": 100,
        "wires": [
            [
                "sd_aAU48EVL1YMjjzsa"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_aAU48EVL1YMjjzsa",
        "type": "UseDependency",
        "z": "sd_byUrK9ZttiWh0fRz",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "forms",
        "inputs": 1,
        "outputs": 1,
        "property": "",
        "propertyType": "bh",
        "propertyGv": "bh.",
        "alias": "",
        "modules": [
            {
                "textIp": "FormGroup",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "FormControl",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            },
            {
                "textIp": "Validators",
                "typedIpValue": {
                    "type": "this.page",
                    "value": ""
                },
                "injectable": false
            }
        ],
        "import_all": false,
        "library": "@angular/forms",
        "serviceDesignerType": "pages",
        "functionName": "forms",
        "category": "Function",
        "x": 220,
        "y": 100,
        "wires": [
            [
                "sd_nDY0ULmigD7XdlaW"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_nDY0ULmigD7XdlaW",
        "type": "Script",
        "z": "sd_byUrK9ZttiWh0fRz",
        "viewType": "common",
        "nodeType": "flow",
        "name": "Reactive Forms",
        "script": "page.registerForm = new FormGroup({\n    first_name: new FormControl('', Validators.required),\n    last_name: new FormControl('', Validators.required),\n    email: new FormControl('', [Validators.required, Validators.email]),\n    role_id: new FormControl(null, Validators.required),\n    password: new FormControl('', Validators.required)\n});",
        "functionName": "reactiveForms",
        "category": "Function",
        "x": 345,
        "y": 100,
        "wires": [
            [
                "sd_HW3vQ8rzTq1n4IhZ"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_zbVeHiOObvuctpYB",
        "type": "Script",
        "z": "sd_byUrK9ZttiWh0fRz",
        "viewType": "common",
        "nodeType": "flow",
        "name": "prepare role req obj",
        "script": "bh.url = page.ssdUrl + 'roles';",
        "functionName": "prepareRoleReqObj",
        "category": "Function",
        "x": 565,
        "y": 100,
        "wires": [
            [
                "sd_gaZvgwVLJbV6cNzK"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_HW3vQ8rzTq1n4IhZ",
        "type": "Environment",
        "z": "sd_byUrK9ZttiWh0fRz",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "envMaps": [
            {
                "flowVar": {
                    "type": "this.page",
                    "value": "ssdUrl"
                },
                "envProperty": "ssdURL"
            }
        ],
        "functionName": "sd_HW3vQ8rzTq1n4IhZ",
        "category": "General",
        "x": 465,
        "y": 100,
        "wires": [
            [
                "sd_zbVeHiOObvuctpYB"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_gaZvgwVLJbV6cNzK",
        "type": "HttpRequest",
        "z": "sd_byUrK9ZttiWh0fRz",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "get",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "",
        "reqBodyObj": {
            "mapVarType": "this.page",
            "mapVarValue": ""
        },
        "resultMapping": "this.page.roles",
        "resultMappingObj": {
            "mapVarType": "this.page",
            "mapVarValue": "roles"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_gaZvgwVLJbV6cNzK",
        "category": "HTTP",
        "x": 680,
        "y": 100,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_ej3e5gr9lHESjfS6",
        "type": "PageStart",
        "z": "sd_byUrK9ZttiWh0fRz",
        "viewType": "pages",
        "nodeType": "start",
        "name": "submit",
        "outputs": 1,
        "inputVariables": [],
        "localVariables": [],
        "flow_type": "sync",
        "functionName": "submit",
        "category": "General",
        "x": 105,
        "y": 220,
        "wires": [
            [
                "sd_rFD1kaAyYOwVKRDE"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_rFD1kaAyYOwVKRDE",
        "type": "Script",
        "z": "sd_byUrK9ZttiWh0fRz",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.body = page.registerForm.value;\n\nbh.url = page.ssdUrl + 'register';",
        "functionName": "sd_rFD1kaAyYOwVKRDE",
        "category": "Function",
        "x": 225,
        "y": 220,
        "wires": [
            [
                "sd_0T6Aoe0Vd27FcmEM"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_0T6Aoe0Vd27FcmEM",
        "type": "HttpRequest",
        "z": "sd_byUrK9ZttiWh0fRz",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "method": "post",
        "methodMapping": "",
        "methodMappingObj": {},
        "urlMapping": "bh.url",
        "urlMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "url"
        },
        "ret": "json",
        "retMapping": "",
        "retMappingObj": {},
        "observe": "",
        "observeMapping": "",
        "observeMappingObj": {},
        "reportProgress": false,
        "withCreds": false,
        "reqBody": "bh.body",
        "reqBodyObj": {
            "mapVarType": "bh",
            "mapVarValue": "body"
        },
        "resultMapping": "bh.result",
        "resultMappingObj": {
            "mapVarType": "bh",
            "mapVarValue": "result"
        },
        "headers": {},
        "headersObj": [],
        "headerMapping": "",
        "headerMappingObj": {},
        "params": {},
        "paramsObj": [],
        "paramMapping": "",
        "paramMappingObj": {},
        "functionName": "sd_0T6Aoe0Vd27FcmEM",
        "category": "HTTP",
        "x": 345,
        "y": 220,
        "wires": [
            [
                "sd_rLKbxKbK3BNDjlJY"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_rLKbxKbK3BNDjlJY",
        "type": "Script",
        "z": "sd_byUrK9ZttiWh0fRz",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "page.registerForm.reset()",
        "functionName": "sd_rLKbxKbK3BNDjlJY",
        "category": "Function",
        "x": 465,
        "y": 220,
        "wires": [
            [
                "sd_pTXEtXx0HANisrjX"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_pTXEtXx0HANisrjX",
        "type": "Navigation",
        "z": "sd_byUrK9ZttiWh0fRz",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "path": "/login",
        "functionName": "sd_pTXEtXx0HANisrjX",
        "category": "Navigation",
        "x": 565,
        "y": 220,
        "wires": [
            []
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    },
    {
        "id": "sd_jHogFMWKtperJA2m",
        "type": "Catch",
        "z": "sd_byUrK9ZttiWh0fRz",
        "viewType": "common",
        "nodeType": "start",
        "name": "",
        "selectedNodes": "",
        "selectCatchType": "allnodes",
        "masternodeList": "",
        "ignoreList": [
            "sd_PlMatZemvWKHqCS4"
        ],
        "functionName": "sd_jHogFMWKtperJA2m",
        "category": "General",
        "x": 105,
        "y": 340,
        "wires": [
            [
                "sd_PlMatZemvWKHqCS4"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "registerComponent"
    },
    {
        "id": "sd_PlMatZemvWKHqCS4",
        "type": "Log",
        "z": "sd_byUrK9ZttiWh0fRz",
        "viewType": "client-pages",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "bh.error",
        "functionName": "sd_PlMatZemvWKHqCS4",
        "category": "General",
        "x": 225,
        "y": 340,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "bh",
                "value": "error",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "registerComponent",
        "generated": true
    }
]
